@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.body {
    background-color: #FFFFFF; /* Warna background */
    margin: 0;
    padding: 0;
}

.header {
  text-align: center;
  background-color: #F6BC13;
  width: 1248px;
  height: 78px;
  margin-left: 65px;
  background-image: url('/img/kantin.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 120px;
  border-radius: 0 0 15px 15px;
  position: sticky; /* Mengubah dari fixed menjadi sticky */
  top: 0; /* Tetap pada posisi atas saat di-scroll */
  z-index: 1000; /* Pastikan header muncul di atas konten lain */
  margin-top: -90px;
}

.logo {
    margin-left: -60px;
    background-repeat: no-repeat; 
}
.icon{
    font-size: 44px;
    margin-left: 120px;
    font-family: "Lalezar", system-ui;
    color: #293859;
    margin-top: 13px;
}

.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
    margin-left: 50px;
    margin-right: 80px;
    width: 800px;
    margin-top: 20px;
}
.bi-cart{
    margin-left: 15px;
    margin-right: 26px;
    margin-top: 18px;
}
.bi-journal-text{
    margin-top: 18px;
}

/* Sidebar */
.sidebar {
    margin-top: 89px;
    /* box-shadow: 0px 0px 0px 1px; */
    position: fixed;
    top: 0;
    left: 0; /* Ubah left menjadi 0 agar sidebar terlihat */
    width: 229px;
    height: 540px;
    border: 2px solid #DE5D01;
    transition: left 0.3s ease;
    z-index: 1000; /* Pastikan sidebar muncul di atas konten lain */
    background-color: white;
  }
    
  .customer-icon img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left:  70px;

  }
  
  .customer-name {
    color: #DE5D01;
    margin-left:  80px;
  }
  
  .menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    color: #DE5D01;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .menu-button3 {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 230px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #DE5D01;
  }
  .openSidebarButton {
    position: fixed;
    bottom: 520px; /* Posisikan tombol di bagian bawah layar */
    left: 5px;
    border: 2px solid #DE5D01;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999; /* Pastikan tombol muncul di belakang sidebar */
    background-size: 22px;
  }

/* Main content */
  .content {
    margin-top: 100px;
    margin-left: 159px; 
    /* Adjust to sidebar width */
    /* Other styles for main content */
  }

.description{
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-left: -10px;
  margin-bottom: 50px;
}
.product {
  display: flex;
  align-items: center;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  max-width: 350px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #DE5D01;
}

.product-details {
  flex: 1;
  margin-left: -260px;
  border: 2px solid #DE5D01;
  width: 200px;
  margin-right: 70px;
  border-radius: 8px;
}

.card {
  border: 2px solid #DE5D01;
  padding: 20px;
  border-radius: 20px;
}

.product-name {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.product-description {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: light;
  font-family: "Poppins", sans-serif;
  color: #303F5D;

}

.product-rating {
  margin-bottom: 10px;
}

.product-price {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.buttons {
  display: flex;
}

.buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.btn-pesan {
  background-color: #DE5D01;
  color: #fff;
  margin-left: 350px;
}

.btn-tambah-keranjang {
  background-color: #DE5D01;
  color: #fff;
  margin-right: 100px;
}

/* Review produc */
.review-card {
  margin-top: 20px;
  border: 1px solid #DE5D01;
  border-radius: 8px;
  padding: 20px;
  width: 1120px;
  margin-bottom: 30px;
}

.review-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-content {
  margin-top: 10px;
}

.review {
  border-bottom: 1px solid #DE5D01;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.reviewer {
  font-weight: bold;
}

.rating {
  margin-top: 5px;
}

.comment {
  margin-top: 5px;
}
.view-all {
  text-align: right;
  margin-top: 10px;
}

.btn-lihat-semua {
  padding: 10px 20px;
  background-color: #DE5D01;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

/* card product */
.cardd {
  width: 260px;
  background-color: white;
  border: #DE5D01;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px;
  margin-bottom: 100px; /* Menambahkan jarak antara card */
  margin-right: 20px; 
  margin-left: 15px;
}
.cardd img {
  width: 240px;
  height: 200px;

  border-radius: 8px;
}

.menu-info {
  padding: 10px;
}

.menu-info h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.menu-info .menu-price {
  font-weight: bold;
  color: #DE5D01;
  margin-left: 85px;
}

.menu-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.menu-rating {
  display: flex;
  align-items: center;
}

.menu-rating button {
  padding: 8px 16px;
  margin-left: 160px;
  background-color: #DE5D01;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.rating-stars {
  /* Tambahkan gaya ikon bintang atau semacamnya di sini */
}

  /* footer */
.footer {
    background-color: #F6BC13;
    color: #FFFFFF; /* warna teks diubah menjadi putih */
    padding: 20px; /* atur padding sesuai kebutuhan */
    text-align: center; /* teks di tengah */
    position: fixed; /* tetap pada posisi bawah layar */
    left: 0;
    bottom: 0;
    width: 100%; /* lebar penuh */
    height: 48px;
  }
  .left-icons{
    size: 10px;
  }
  
  /* Styles for right text */
  .right-text {
    font-size: 14px; 
    margin-left: 520px; 
    margin-top: -5px; 
  }
  