@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #F6BC13;
    width: 1248px;
    height: 78px;
    margin-left: -50px;
    background-image: url('/img/kantin.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120px;
    border-radius: 0 0 15px 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: -90px;
}

.logo {
    margin-left: -60px;
    background-repeat: no-repeat; 
}

.icon {
    font-size: 44px;
    margin-left: 120px;
    margin-right: 800px;
    font-family: "Lalezar", system-ui;
    color: #293859;
    margin-top: 13px;
}

.Admin {
    margin-top: 15px;
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Lalezar", system-ui;
}

/* Sidebar */
.sidebar {
  margin-top: 89px;
  /* box-shadow: 0px 0px 0px 1px; */
  position: fixed;
  top: 0;
  left: 0; /* Ubah left menjadi 0 agar sidebar terlihat */
  width: 229px;
  height: 540px;
  border: 2px solid #DE5D01;
  transition: left 0.3s ease;
  z-index: 1000; /* Pastikan sidebar muncul di atas konten lain */
  background-color: white;
}
  
.customer-icon img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left:  70px;

}

.customer-name {
  color: #DE5D01;
  margin-left:  80px;
}

.menu-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: #DE5D01;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.menu-button3 {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #DE5D01;
}
.openSidebarButton {
  position: fixed;
  bottom: 540px; /* Posisikan tombol di bagian bawah layar */
  left: 5px;
  border: 2px solid #DE5D01;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999; /* Pastikan tombol muncul di belakang sidebar */
  background-size: 22px;
}

/* Main content */
.content {
  margin-top: 120px;
  margin-left: 90px;
}

.description {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-left: -10px;
  margin-bottom: 20px;
}

.product {
  display: flex;
  align-items: center;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  max-width: 350px;
  height: 220px;
  border-radius: 15px;
  border: 2px solid #DE5D01;
}

.product-details {
  flex: 1;
  margin-left: -260px;
  border: 2px solid #DE5D01;
  width: 200px;
  margin-right: 70px;
  border-radius: 8px;
}

.card {
  border: 2px solid #DE5D01;
  padding: 20px;
  border-radius: 20px;
}

.product-name {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.product-description {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: light;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.product-rating {
  margin-bottom: 10px;
}

.product-price {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

/* Review product */
.review-section {
  border: 1px solid #DE5D01;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.review-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.review {
  border-bottom: 1px solid #DE5D01;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.reviewer {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.rating {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.comment {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #303F5D;
}

.view-all {
  text-align: right;
  margin-top: 10px;
}

.btn-lihat-semua {
  padding: 10px 20px;
  background-color: #DE5D01;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.btn-kembali {
  padding: 10px 20px;
  background-color: #DE5D01;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
/* footer */
.footer {
    background-color: #F6BC13;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
}

.left-icons {
    size: 10px;
}

/* Styles for right text */
.right-text {
    font-size: 14px;
    margin-left: 520px;
    margin-top: -5px;
}
